	img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	.order{
		display: block;
		margin-top: 1em;
	}
		input{
		width: 70%;
		margin:.2em;
		padding:.8em;
		border: 1px solid #ddd;
		border-radius: 4px;
		float: center;
	}